// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 2000px;
}
.a {
    height: 300px;
    width: 300px;
    display: block;
    background-color: green;
    position: fixed;
}
.state-down {
    top: 0px;
}
.state-partially {
    top: -150px;
}
.state-up {
    top: -300px;
}