// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 2000px;
    @media screen {
	    margin-left: 0%;
	    margin-top: 0%;
	}
}

.a {
    height: 80px;
    width: 100%;
    display: block;
    background-color: green;
    position: fixed;
	#header-top {
		@media screen {
			position: fixed;
			margin-top: 0px;
		}
	}
	#header-bottom {
		@media screen {
			position: fixed;
			margin-top: 30px;
		}
	}
}

.state-down {
    top: 0px;
}
.state-partially {
    top: -40px;
}

.state-up {
    top: -80px;
}

